<!-- views/pages/auth.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Google SignIn</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 70px;
      }
      @keyframes btnBigSmall {
        0% {
          width: 14vw;
        }
        50% {
          width: 18vw;
        }
        100% {
          width: 14vw;
        }
      }

      .custom-animate:hover {
        animation: 0.55s ease-in-out btnBigSmall;
      }
      .custom-animate {
        align-items: center;
        padding: 2%;
        width: 14vw;
        height: 10vh;
        border-radius: 10%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-lock"></span> Amit's Server Authentication</h1>
        <p>Login or Register with:</p>
        <a
          href="/auth/google"
          class="btn btn-warning custom-animate text-center"
          ><span class="fa fa-google"></span>
          <span>Sign In with Google</span></a
        >
      </div>
    </div>
  </body>
</html>
